body {
    margin-left:auto;
    margin-right:auto;
    /* max-width: 800px; */
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

#qr-code {
    margin-top: 20px;
}

#qr-code-section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#qr-code-section > .qr-code-container {
    border: 10px solid rgb(126, 124, 124);
    background-color: beige;
}

#qr-code-section > .qr-code-container ~ .qr-code-container {
    border: none;
    background-color: white;
}